.RegisterPage {
  height: 100vh;
  width: 100vw;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #ff6e7f;

  background: linear-gradient(to right, #bfe9ff, #ff6e7f);
}

.RegisterPage > .formWrapper {
  max-height: 80vh;
  min-width: 25vw;
  background-color: white;
  border-radius: 10px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.formWrapper > .formNav {
  font-size: 14px;

  display: flex;
  justify-content: center;
  gap: 15px;
}
.formWrapper > .formNav > span {
  color: gray;
}

.formWrapper > .formNav > .signinLink {
  color: #1677ff;
}
