.Card--wrapper {
  margin: 20px 40px 0px;

  display: flex;
  align-items: center;
  gap: 20px;
}
.Card--info-wrapper {
  margin-left: 19px;
}
.Card--location--wrapper {
  height: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.Card--location--icon {
  max-height: 9.545px;
  max-width: 7px;
}
.Card--location--text {
  margin-left: 4px;

  color: #2b283a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
}

.Card--dates {
  padding: 12px;

  color: #2b283a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Card--name {
  margin-top: 7px;
  margin-bottom: 0px;
  height: 40px;

  color: #2b283a;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Card--text {
  width: 326px;

  color: #2b283a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
