.pageWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.showPhotoWrapper {
  /* min-height: 240px; */
  height: 300px;
  width: 300px;

  display: flex;
  position: relative;

  border-radius: 10px;
}

.button {
  /* width: 60%; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* position: absolute; */
  border: none;
  /* opacity: 0; */
}

.button > .icon {
  font-size: 15px;
}
.imgWrapper {
  /* height: 100%; */
  /* border: 1px 0px 1px solid black; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 100%;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: white; */
  border-radius: 10px;
}
.img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.left {
  border-radius: 10px 0px 0px 10px;
  left: 0px;
}

.right {
  border-radius: 0px 10px 10px 0px;
  right: 0;
}
